<%= form_with model: @book_review do |form| %>
  <div>
    <%= form.hidden_field :book_id, value: @title %>
    <% @book_review.errors.full_messages_for(:book_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @book_review.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
