!!!
/ Pages#home
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag "home.css"
  %body
    .content
      .app-name
        %h1 Reviewly.
      .links
        - if current_user
          = link_to 'Sign out', destroy_user_session_path, class: "nav-link", |
            method: :delete                                                   |
          = link_to "Book reviews", book_reviews_path, class: "nav-link"
        - else
          = link_to 'Sign up', new_user_registration_path, class: "nav-link"
          = link_to 'Sign in', new_user_session_path, class: "nav-link"
