<!--Books#index-->
<div class="cancel">
  <%= link_to "Return to book reviews", book_reviews_path, class: "nav-link" %>
</div>

<h3>Search results</h3>

<div class="review-container">
  <div class="row row-cols-1 row-cols-md-6 g-4">
    <% @books.each do |book| %>
      <div class="col">
        <a class="card-link" href="<%= new_book_review_path(book_id: book.isbn) %>">
          <div class="card h-100">
            <div class="image-container">
              <img src="<%= book.image_link %>" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>
              <p class="card-text"><%= book.authors %></p>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>